# Binaries for programs and plugins
dist/

# Test binary, built with `go test -c`
*.test
output.txt

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Logs
*.log

# Dependency directories (remove the comment below to include it)
# vendor/
